{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg">

        <div class="card-body text-center">

            <h1 class="display-5">
                Sistema de Inventario Oxapampa
            </h1>

            <p class="lead">
                Bienvenido al sistema de gestión de inventario.
            </p>

            <hr>

            <button class="btn btn-primary">
                Ingresar al sistema
            </button>

        </div>

    </div>

</div>

{% endblock %}