{% extends 'layout.html' %}

{% block title %}Productos{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Productos</h2>
        <div>
            <a href="{{ url_for('nuevo_producto') }}" class="btn btn-success">+ Nuevo producto</a>
            <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary">Volver al Dashboard</a>
        </div>
    </div>

    <table class="table table-striped shadow-sm bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>S/ {{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td>
                    <a href="{{ url_for('editar_producto', id_producto=producto[0]) }}"
                    class="btn btn-sm btn-warning">
                    Editar
                    </a>
                    <a href="{{ url_for('eliminar_producto', id_producto=producto[0]) }}"
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('¿Seguro que deseas eliminar este producto?')">
                                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}